<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Wildlife Sightings Visualizer</title>
        
    <!-- THIS IS USING Bootstrap CDN FOR THE UI -->
    <!-- So you can look at bootstrap tuts if you need to -->
    <!-- we also have a stylesheet to extend/override Boostrap styles! It is in the app/static folder, and a javascript file -->
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel = "stylesheet">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <div class = "container">
        <!-- navigation tab buttons and elastic tabs -->
        <div class = "wrapper text-center">
            <ul class = "tabs" id="elastic-tabs">
                <div class = "selector"></div>
                <li><a href="#" class="active" data-target="search">Search</a></li>
                <li><a href="#" data-target="conservation">NC Conservation</a></li>
                <li><a href="#" data-target="endangered">Endangered Species</a></li>
            </ul>
        </div>
        <!-- tab content -->
        <div class = "tab-content mt-4">
            <!-- search tab -->
            <div class = "tab-pane active-tab" id = "search">
                <!-- the map route form action -->
                <form action = "/map" method = "post" class = "row g-3" id = "species-form">
                    <!-- welcome message or whatever -->
                     <div class = "welcome-section text-center">
                        <h1 class = "welcome-title"><i class="fa fa-paw"></i> Welcome to the Wildlife Sightings Visualizer <i class="fa fa-paw"></i></h1>
                        <p class = "welcome-info">Explore real-time observations of species from around the world.<br>
                            Search for animals, plants, and fungi to see where they've been spotted recently, or<br>
                            check out our other tabs for more information on the biodiversity of our ecosystems<br>
                            and why conservation is important.
                        </p>
                    </div>

                    <div class = "col-md-8"> <!-- medium column, takes 8 out of 12 rows (cause Bootstrap has 12 rows)-->
                        <!-- actual search bar -->
                        <label for="species" class="form-label">Enter a species name:</label>
                        <input type="text" id="species" name="species_display" class="form-control" placeholder="e.g. Lion or Panthera leo" required>
                        <input type="hidden" id="species-sci" name="species">

                        <!-- autocomplete results -->
                        <ul id="autocomplete-list" class="list-group position-absolute w-100" style="z-index: 1000;"></ul>
                    </div>
                    <div class="col-md-4 d-flex align-items-end"> <!-- medium column that uses the last 4 rows out of the default 12 -->
                        <!-- submit button -->
                        <button type = "submit" class = "btn btn-primary w-100">Search Sightings</button>
                    </div>
                </form>
            </div>

            <!-- conservation tab -->
            <div class="tab-pane" id="conservation">
                <h2 class = "tab-header">Why Wildlife Conservation Matters</h2>
                    <blockquote class = "info-block">
                        Wildlife conservation isn't just about protecting animals — it's about protecting the ecosystems that all life depends on, and that
                        includes us. Healthy environments ensure clean air and water, support biodiversity, and help combat climate change.
                        These organizations work to preserve habitats, rescue and rehabilitate injured animals, and educate the public on
                        how to live in harmony with the natural world.
                    </blockquote>
                <div class="event">
                    <h2> <a href="https://www.carolinaconservation.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Carolina Wildlife Conservation Center </a></h2>
                    <p class="date-location"> Phone Number: (980) 389-1133 | Location: Charlotte, North Carolina </p>
                    <p> Wildlife rescue and Rehab Center </p>
                </div>
                <div class="event">
                    <h2> <a href="https://animalparknc.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                        Animal Park At The Conservator Center </a></h2>
                    <p class="date-location"> Phone Number: (336)421-0883 | Location: Burlington, North Carolina </p>
                    <p> Non-Profit Organization </p>
                </div>
                <div class="event">
                    <h2> <a href="https://www.piedmontwildlifecenter.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Piedmont Wildlife Center </a></h2>
                    <p class="date-location"> Phone Number: (919)489-0900 | Location: Durham, North Carolina </p>
                    <p> Environmental Organization </p>
                </div>
                <div class="event">
                    <h2> <a href="https://www.fws.gov/refuge/pee-dee" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Pee Dee National Wildlife Refuge </a></h2>
                    <p class="date-location"> Phone Number: (704)694-4424 | Location: Wadesboro, North Carolina </p>
                    <p> Wildlife Refuge  </p>
                </div>
                <div class="event">
                    <h2> <a href="https://wildwnc.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Western North Carolina Nature Center </a></h2>
                    <p class="date-location"> Phone Number: (828)259-8080 | Location: Asheville, North Carolina </p>
                    <p> Tourist Attraction  </p>
                </div>
                <div class="event">
                    <h2> <a href="https://carolinaraptorcenter.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Carolina Raptor Center </a></h2>
                    <p class="date-location"> Phone Number: (704)875-6521 | Location: Huntersville, North Carolina </p>
                    <p> Non-Profit  </p>
                </div>
            </div>

            <!-- endangered tab -->
            <div class="tab-pane" id="endangered">
                <h2 class = "tab-header">Endangered Species</h2>
                    <blockquote class = "info-block">
                        <strong>Endangered</strong> species are organisms that face a <strong>high risk</strong> of extinction due to rapid population decline or
                        critical threats to their habitats. The International Union for Conservation of Nature (IUCN) classifies species by their risk level,
                        from Least Concern to Critically Endangered. Biodiversity loss isn't just a wildlife issue — it affects ecosystems, food chains, medicine,
                        climate, and ultimately the survival of humanity.
                    </blockquote>
                    <div class="chart-intro">
                        <h2 class = "tab-header">Understanding Global Biodiversity Loss</h2>
                        <blockquote class = "info-block">
                            The charts below highlight the ongoing decline in biodiversity, showing trends in endangered species and global population indexes over time.
                            These insights are based on datasets from the WWF, a key organization monitoring Earth's biodiversity health.
                        </blockquote>
                    </div>
                    <div class = "chart-section">
                        <div id="biodiversity-chart"></div>
                        <div id="species-chart" style="margin-top: 60px;"></div>
                    </div>

                    <!-- some cards on endangered species I picked out just to look nice-->
                    <h2 class="tab-header" style="text-align:center; margin-top: 60px;">Below are just a few examples of species on the Critically Endangered list</h2>
                        <div class="species-cards">
                            <div class="species-card">
                                <img src="https://www.butlernature.com/wp-content/uploads/2024/11/vaquita-save-the-whales.jpg" alt="Vaquita">
                                <h3>Vaquita</h3>
                                <p><em>Phocoena sinus</em></p>
                                <p class="threat"><i class="fa-solid fa-circle-exclamation" style = "color: red;"></i> Status: Critically Endangered</p>
                                <p>Only around 10 individuals remain. Native to the northern Gulf of California, the vaquita is severely threatened by gillnet fishing.</p>
                                <a href="https://en.wikipedia.org/wiki/Vaquita" target="_blank">Learn more<i class="fa-solid fa-arrow-right"></i></a></a>
                            </div>
                            <div class="species-card">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Rhinoceros_sondaicus_in_London_Zoo.jpg" alt="Javan rhinoceros">
                                <h3>Javan Rhinoceros</h3>
                                <p><em>Rhinoceros sondaicus</em></p>
                                <p class="threat"><i class="fa-solid fa-circle-exclamation" style = "color: red;""></i> Status: Critically Endangered</p>
                                <p>Fewer than 80 remain in the wild, all in Indonesia. They are at extreme risk due to habitat loss and poaching.</p>
                                <a href="https://en.wikipedia.org/wiki/Javan_rhinoceros" target="_blank">Learn more<i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <div class="species-card">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Eastern_lowland_gorilla.jpg/330px-Eastern_lowland_gorilla.jpg" alt="Eastern lowland gorilla">
                                <h3>Eastern Lowland Gorilla</h3>
                                <p><em>Gorilla beringei graueri</em></p>
                                <p class="threat"><i class="fa-solid fa-circle-exclamation" style = "color: red;"></i> Status: Critically Endangered</p>
                                <p>Found only in the Congo Basin. Their population has dropped by over 70% in 20 years due to civil unrest, hunting, and mining.</p>
                                <a href = "https://en.wikipedia.org/wiki/Eastern_lowland_gorilla" target = "_blank">Learn more<i class="fa-solid fa-arrow-right"></i></a></a>
                            </div>
                        </div>
                        <!--- HOW TO HELP SECTION -->
                        <div class="help-section">
                            <h2>How You Can Help</h2>
                            <blockquote class = "info-block">
                                Protecting endangered species isn't just about governments or scientists — everyone can make a difference.  
                                Here are some reputable organizations doing important conservation work that you can support, share, or get involved with:
                            </blockquote>
                            <ul class="help-links">
                                <h2><li><a href="https://www.worldwildlife.org" target="_blank">World Wildlife Fund (WWF)</a></li>
                                <li><a href="https://www.iucn.org" target="_blank">International Union for Conservation of Nature (IUCN)</a></li>
                                <li><a href="https://www.rainforesttrust.org" target="_blank">Rainforest Trust</a></li>
                                <li><a href="https://www.conservation.org" target="_blank">Conservation International</a></li>
                                <li><a href="https://onepercentfortheplanet.org" target="_blank">1% for the Planet</a></li></h2>
                            </ul>
                        </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
    <script>
        const barData = {{ bar_data | safe }};
        const lineData = {{ line_data | safe }};
    </script>

    <!-- default Bootstrap JavaScript and our javascript file -->
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
