<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wildlife Sightings Visualizer</title>
        
    <!-- THIS IS USING Bootstrap CDN FOR THE UI -->
    <!-- So you can look at bootstrap tuts if you need to -->
    <!-- we also have a stylesheet to extend/override Boostrap styles! It is in the app/static folder, and a javascript file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container my-5"> <!-- margin my-5 means margin on top AND bottom with 5 pixel spacing-->
        <!-- the typography like mb-4 and stuff is related to the Bootstrap spacing system, btw if you need to look that up -->
        <h1 class="mb-4 text-center"> Wildlife Sightings Visualizer</h1> <!-- margin bottom with 4 pixel spacing (mb-4) -->

        <!-- navigation tab buttons -->
        <ul class="nav nav-tabs" id="mainTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <!-- search button for species -->
                <button class="nav-link active" id="search-tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab">Search</button>
            </li>
            <li class="nav-item" role="presentation">
                <!-- tab button for finding conservation information -->
                <button class="nav-link" id="conservation-tab" data-bs-toggle="tab" data-bs-target="#conservation" type="button" role="tab">Conservation Info</button>
            </li>
            <li class="nav-item" role="presentation">
                <!-- tab button for more information about endangered species -->
                <button class="nav-link" id="endangered-tab" data-bs-toggle="tab" data-bs-target="#endangered" type="button" role="tab">Endangered Species</button>
            </li>
        </ul>

        <!-- tab content -->
        <!-- 4 pixel margin at top of content -->
        <div class="tab-content mt-4" id="mainTabsContent">
            <!-- search tab -->
            <div class="tab-pane fade show active" id="search" role="tabpanel">
                <!-- the map route form action -->
                <form action="/map" method="post" class="row g-3" id="species-form">
                    <div class="col-md-8"> <!-- medium column, takes 8 out of 12 rows (cause Bootstrap has 12 rows)-->
                        <!-- actual search bar -->
                        <label for="species" class="form-label">Enter a species name:</label>
                        <input type="text" id="species" name="species_display" class="form-control" placeholder="e.g. Lion or Panthera leo" required>
                        <input type="hidden" id="species-sci" name="species">

                        <!-- autocomplete results -->
                        <ul id="autocomplete-list" class="list-group position-absolute w-100" style="z-index: 1000;"></ul>
                    </div>
                    <div class="col-md-4 d-flex align-items-end"> <!-- medium column that uses the last 4 rows out of the default 12 -->
                        <!-- submit button -->
                        <button type="submit" class="btn btn-primary w-100">Search Sightings</button>
                    </div>
                </form>
            </div>

            <!-- conservation tab -->
            <div class="tab-pane fade" id="conservation" role="tabpanel">
                <div class="event">

                    <h2> <a href="https://www.carolinaconservation.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Carolina Wildlife Conservation Center </a></h2>
                    <p class="date-location"> Phone Number: (980) 389-1133 | Location: Charlotte, North Carolina </p>
                    <p> Wildlife rescue and Rehab Center </p>
                </div>
                <div class="event">
                    <h2> <a href="https://animalparknc.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                        Animal Park At The Conservator Center </a></h2>
                    <p class="date-location"> Phone Number: (336)421-0883 | Location: Burlington, North Carolina </p>
                    <p> Non-Profit Organization </p>
                </div>
                <div class="event">
                    <h2> <a href="https://www.piedmontwildlifecenter.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Piedmont Wildlife Center </a></h2>
                    <p class="date-location"> Phone Number: (919)489-0900 | Location: Durham, North Carolina </p>
                    <p> Environmental Organization </p>
                </div>
                <div class="event">
                    <h2> <a href="https://www.fws.gov/refuge/pee-dee" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Pee Dee National Wildlife Refuge </a></h2>
                    <p class="date-location"> Phone Number: (704)694-4424 | Location: Wadesboro, North Carolina </p>
                    <p> Wildlife Refuge  </p>
                </div>
                <div class="event">
                    <h2> <a href="https://wildwnc.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Western North Carolina Nature Center </a></h2>
                    <p class="date-location"> Phone Number: (828)259-8080 | Location: Asheville, North Carolina </p>
                    <p> Tourist Attraction  </p>
                </div>
                <div class="event">
                    <h2> <a href="https://carolinaraptorcenter.org" target="_blank" style="color: #3567d3; text-decoration: none;">
                    Carolina Raptor Center </a></h2>
                    <p class="date-location"> Phone Number: (704)875-6521 | Location: Huntersville, North Carolina </p>
                    <p> Non-Profit  </p>
                </div>
            </div>
           

            <!-- endangered tab -->
            <div class="tab-pane fade" id="endangered" role="tabpanel">
                <p>Put whatever you want in this tab. You can get fancy with it or change the tab if you want to something else as
                    long as its related to our project, I'm just using "endangered" for now as a placeholder.
                </p>
            </div>
        </div>
    </div>

    <!-- default Bootstrap JavaScript and our javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
