<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Sightings Map for {{ species }}</title>
    <link href = "https://fonts.googleapis.com/css?family=Orbitron|Raleway|Roboto&display=swap" rel = "stylesheet">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "map-container">
        <h2 class = "map-title">Sightings for "{{ species }}"</h2>
        <a href = "/" class="back-link">← Back to Search</a>
        <iframe src = "{{ url_for('static', filename='folium_map.html') }}"></iframe>
    </div>
</body>
</html>
